<div class="filter-restaurants">
  <div class="form-group">
  <select class="form-control" [(ngModel)]="location" (change)="shareLocationWithParent()">
    <option></option>
    <option value="DOWNTOWN">Downtown</option>
    <option value="WEST_ASHLEY">West Ashley</option>
    <option value="NORTH_CHARLESTON">North Charleston</option>
    <option value="MT_PLEASANT">Mount Pleasant</option>
    <option value="SUMMERVILLE">Summerville</option>
    <option value="JAMES_ISLAND">James Island</option>
    <option value="JOHNS_ISLAND">Johns Island</option>
  </select>
  </div>
</div>
