<div class="restaurantDetails">
  <h2>Restaurant details</h2>
  <a class="btn btn-small btn-warning" (click)="editRestaurant()">edit</a>
  <a class="btn btn-small btn-warning" (click)="deleteRestaurant()">delete</a>
  <div class="bg-warning p-5" *ngIf="message">{{message}}</div>
  <table>
    <tr>
      <td>id</td><td>{{restaurant?.id}}</td>
    </tr>
    <tr>
      <td>name</td><td>{{restaurant?.name}}</td>
    </tr>
    <tr>
      <td>category</td><td>{{restaurant?.category}}</td>
    </tr>
    <tr>
      <td>location</td><td>{{formatLocation(restaurant?.location)}}</td>
    </tr>
    <tr>
      <td>rating</td><td>{{restaurant?.rating}}/5</td>
    </tr>
    <tr>
      <td>already tried</td><td>{{restaurant?.haveTried}}</td>
    </tr>
    <tr>
      <td>notes</td><td>{{restaurant?.notes}}</td>
    </tr>
  </table>
</div>
