<h1>{{restaurant.id == null ? 'Add' : 'Edit' }}</h1>

<div class="bg-warning p-5" *ngIf="message">{{message}}</div>

<form #restaurantForm="ngForm">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="restaurant name" [(ngModel)]="formRestaurant.name" name="name"
           required #nameField="ngModel" (change)="checkIfNameIsValid()">
    <div *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">Name is required</div>
    <div *ngIf="!nameIsValid && nameField.touched" class="alert alert-danger">Name cannot be blank</div>
  </div>

  <div class = "form-group" *ngFor="let category of dataService.getCategories()">
<!--    <input type="checkbox" id="{{category}}" name={{category}} (change)="onCheckboxChange($event)">-->
    <input type="checkbox" id="{{category}}" name={{category}} (change)="onCheckboxChange($event)">
    <label for="{{category}}">{{category}}</label>
<!--    </select>-->
  </div>

  <div class="form-group">
    <label for="name">Rating</label>
    <input type="radio" [(ngModel)]="formRestaurant.rating" name="choice" value=1> One star
    <input type="radio" [(ngModel)]="formRestaurant.rating" name="choice" value=2> Two stars
    <input type="radio" [(ngModel)]="formRestaurant.rating" name="choice" value=3> Three stars
    <input type="radio" [(ngModel)]="formRestaurant.rating" name="choice" value=4> Four stars
    <input type="radio" [(ngModel)]="formRestaurant.rating" name="choice" value=5> Five stars


  </div>

  <div class="form-group">
    <label for="name">Have You Tried Here Yet?</label>
    <input type="radio" [(ngModel)]="formRestaurant.haveTried" name="choice" value="true"> Yes
    <input type="radio" [(ngModel)]="formRestaurant.haveTried" name="choice" value="false"> No
  </div>

  <div class="form-group">
    <select name="location" id="location" [(ngModel)]="formRestaurant.location">
      <option selected="selected" value="DOWNTOWN">Downtown</option>
      <option value="WEST_ASHLEY">West Ashley</option>
      <option value="NORTH_CHARLESTON">North Charleston</option>
      <option value="MT_PLEASANT">Mount Pleasant</option>
      <option value="SUMMERVILLE">Summerville</option>
      <option value="JAMES_ISLAND">James Island</option>
      <option value="JOHNS_ISLAND">Johns Island</option>
    </select>
  </div>

  <div class="form-group">
    <label for="name">Notes</label>
    <input type="text" class="form-control" id="notes" placeholder="notes" [(ngModel)]="formRestaurant.notes" name="notes"
           #notesField="ngModel">
  </div>


  <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="restaurantForm.invalid || !nameIsValid">Save</button>
</form>
